/*-----COMMON-----*/
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: "Roboto Conde", "Roboto", "Arial", sans-serif;
}
* .preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
}
* body {
  background-color: var(--background-color) !important;
  transition: 200ms ease-out;
}
* body .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*-----RESET-----*/
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: transparent none 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--article-text-color);
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}
/*-----SEPARATOR-----*/
div.separator {
  display: flex!important;
  align-items: center!important;
  text-align: center!important;
  color: var(--border-color);
}
div.separator::before,
div.separator::after {
  content: '' !important;
  flex: 1!important;
  border-bottom: var(--border-color);
}
div.separator:not(:empty)::before {
  margin-right: 0.25em !important;
}
div.separator:not(:empty)::after {
  margin-left: 0.25em !important;
}
