/*-----COMMON-----*/
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  transition: 200ms ease-in-out;
  font-size: 16px;
  line-height: 16px;
  font-family: "Roboto Conde", "Roboto", "Arial", sans-serif;
}
* body {
  background-color: var(--background-color) !important;
}
* .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*-----RESET-----*/
li {
  list-style: none;
}
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: transparent none 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
/*-----SEPARATOR-----*/
div.separator {
  color: var(--border-color);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  cursor: default;
}
div.separator.semi {
  padding: 0 12px;
}
div.separator::before,
div.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--border-color);
  transition: 200ms ease-in-out;
}
div.separator:not(:empty) {
  margin: -6px 0 -6px 0 !important;
}
div.separator:not(:empty):before {
  margin-right: 4px;
}
div.separator:not(:empty):after {
  margin-left: 4px;
}
/*-----USER-AVATAR-----*/
.user-avatar {
  border-radius: 50%;
}
.user-avatar img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
/*-----USER-NICK-----*/
.user-nick {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 2px 0;
  color: var(--primary-text-color);
  text-decoration: none;
}
.user-nick:hover {
  color: var(--minor-accent-color);
}
