/*-----HEADER-----*/
.header {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.header .navbar {
  background-color: var(--major-accent-color);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .navbar-brand {
  color: var(--active-color);
}
.header .navbar .navbar-brand:hover,
.header .navbar .navbar-brand:focus {
  color: var(--active-color);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 0;
  margin-bottom: 0;
  list-style: none;
}
.header .navbar .navbar-nav .nav-link {
  color: var(--secondary-text-color);
}
.header .navbar .navbar-nav .nav-link:hover,
.header .navbar .navbar-nav .nav-link:focus {
  color: var(--active-color);
}
.header .navbar .navbar-nav .nav-link.disabled {
  color: var(--disabled-text-color);
}
.header .navbar .navbar-nav .nav-link.active {
  color: var(--active-color);
}
.header .navbar .navbar-toggler {
  padding: 0;
  background: none;
  border: none;
}
.header .navbar .navbar-toggler:active,
.header .navbar .navbar-toggler:focus {
  outline: 0;
}
.header .navbar .navbar-toggler .icon-bar {
  background-color: var(--active-color);
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
}
.header .navbar .navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg) translate3d(20%, 200%, 0);
}
.header .navbar .navbar-toggler .icon-bar:nth-of-type(2) {
  transform: rotate(45deg);
  opacity: 0;
}
.header .navbar .navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg) translate3d(20%, -200%, 0);
}
.header .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}
.header .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  transform: rotate(0);
  opacity: 1;
}
.header .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}
.header .navbar .navbar-collapse .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 200%;
}
.header .navbar .navbar-collapse .navbar-right .navbar-right-item {
  padding-right: 16px;
}
.header .navbar .navbar-collapse .navbar-right .navbar-right-item:last-child {
  padding-right: 0;
}
.header .navbar .navbar-collapse .navbar-right .search .search-button {
  border-radius: 0 50% 50% 0;
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  color: var(--article-text-color);
  background-color: var(--section-background-color);
  padding: 0;
  border: 0;
}
.header .navbar .navbar-collapse .navbar-right .search .search-button:hover {
  color: var(--minor-accent-color);
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field {
  transition-delay: 200ms !important;
  transition: 200ms ease-in-out;
  transform: scaleX(1);
  transform-origin: right;
  color: var(--article-text-color);
  background-color: var(--section-background-color);
  border: 0;
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field.active,
.header .navbar .navbar-collapse .navbar-right .search .search-input-field.focus {
  transition-delay: 200ms;
  transition: 200ms ease-in-out;
  color: var(--article-text-color);
  background-color: var(--section-background-color);
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field::-ms-clear {
  display: none !important;
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
  margin: 0;
}
.header .navbar .navbar-collapse .navbar-right .search.hidden .search-button {
  transition-delay: 400ms;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  color: var(--secondary-text-color);
  background-color: var(--minor-accent-color);
}
.header .navbar .navbar-collapse .navbar-right .search.hidden .search-button:hover {
  color: var(--minor-accent-color);
  background-color: var(--section-background-color);
}
.header .navbar .navbar-collapse .navbar-right .search.hidden .search-input-field {
  transform: scaleX(0);
  transform-origin: right;
  padding: 0;
  width: 1px;
}
