/*-----MAIN-----*/
.main {
  position: relative;
  width: 80%;
  margin: 0;
}
.main .main-section {
  border: 1px solid var(--border-color);
  background-color: var(--section-background-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 12px 0 0 0;
}
.main .main-section .main-section-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.main .main-section .main-section-item:first-child {
  border-radius: 3px 3px 0 0;
}
.main .main-section .main-section-item:last-child {
  border-radius: 0 0 3px 3px;
}
.main .main-section .main-section-item:only-child {
  border-radius: 3px;
}
.main .main-section .main-section-item.section-header {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
.main .main-section .main-section-item.section-footer {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
}
@media (max-width: 991px) {
  .main {
    position: relative;
    width: 100%;
  }
  .main .main-section .main-section-item {
    padding: 12px;
  }
}
