/*-----SIDEBAR-----*/
.sidebar {
  position: relative;
  width: 20%;
  margin: 0 12px 0 0;
}
.sidebar .sidebar-section {
  border: 1px solid var(--border-color);
  background-color: var(--section-background-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 12px 0 0 0;
}
.sidebar .sidebar-section.add-post {
  border: none;
  background-color: var(--major-accent-color);
}
.sidebar .sidebar-section.add-post .add-post-button {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  padding: 12px;
  width: 100%;
  color: var(--active-color);
}
.sidebar .sidebar-section.add-post .add-post-icon {
  display: block;
  transform: rotate(0deg);
  margin: 0 0 0 6px;
  font-size: 24px;
}
.sidebar .sidebar-section.add-post:hover {
  background-color: var(--minor-accent-color);
}
.sidebar .sidebar-section.add-post:hover .add-post-icon {
  transform: rotate(360deg);
}
.sidebar .sidebar-section .sidebar-section-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter {
  flex-direction: column;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0 0 12px 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div:last-child {
  margin: 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 6px 0 0;
  cursor: default;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter-label {
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 0 0;
  cursor: default;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter-label.link {
  cursor: pointer;
  color: var(--primary-text-color);
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter-label.link:hover {
  color: var(--minor-accent-color);
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter-label.link.active {
  color: var(--minor-accent-color);
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item:first-child {
  border-radius: 3px 3px 0 0;
}
.sidebar .sidebar-section .sidebar-section-item:last-child {
  border-radius: 0 0 3px 3px;
}
.sidebar .sidebar-section .sidebar-section-item:only-child {
  border-radius: 3px;
}
.sidebar .sidebar-section .sidebar-section-item.section-header {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
  z-index: 0;
}
.sidebar .sidebar-section .sidebar-section-item .section-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  cursor: default;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-li {
  margin-bottom: 16px;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-li:last-child {
  margin-bottom: 0;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link {
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  color: var(--primary-text-color);
  margin-bottom: 16px;
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:last-child {
  margin-bottom: 0;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:before {
  left: 0;
  width: 2px;
  margin: -3px 0 0 0;
  height: 20px;
  transition: opacity 200ms ease-in-out;
  content: '';
  background-color: var(--minor-accent-color);
  opacity: 0;
  position: absolute;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:hover {
  color: var(--minor-accent-color);
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:hover:before {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link.active {
  color: var(--minor-accent-color);
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link.active:before {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.sidebar .sidebar-section .sidebar-section-item .user-section {
  flex-direction: column;
  margin: auto 0 auto 12px;
}
.sidebar .user-signin-signout {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-text-color);
  text-decoration: none;
  border: none;
  background: transparent;
}
.sidebar .user-signin-signout:hover {
  color: var(--minor-accent-color);
}
@media (max-width: 991px) {
  .sidebar {
    position: relative;
    width: 100%;
    margin: 0;
  }
  .sidebar .sidebar-section .sidebar-section-item.sidebar-counter {
    flex-direction: row;
  }
  .sidebar .sidebar-section .sidebar-section-item.sidebar-counter div {
    margin: 0 12px 0 0;
  }
}
