<!DOCTYPE html>
<html lang="ru" theme-color="light" accent-color="green">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - Onym</title>
    @{
        await Html.RenderPartialAsync("_StylesPartial");
    }
    <link rel="manifest" href="manifest.json">
</head>
<!-- APP BODY -->
<body class="app">
    <!-- HEADER -->
    <header class="header">
        <nav>
            <a asp-action="Index" asp-controller="Feed" class="navbar-brand font-weight-bold">ONYM</a>
        </nav>
    </header>

    <div>
        <!-- SIDEBAR -->
        <aside>

        </aside>
        <!-- MAIN -->
        <main>
        @RenderBody()
        </main>
    </div>
    <!-- FOOTER -->
    <footer>
        
    </footer>
</body>