@using Microsoft.AspNetCore.Http
<!-- MAIN MENU PANEL -->
<div class="main-section">
    <ul class="main-section-item main-menu-panel">
        @{
            <li class="main-menu-panel-li"><a class="main-menu-panel-link">Фильтр</a></li>
        }
    </ul>
</div>