<div class="sidebar-block">
    @{
        if (SignInManager.IsSignedIn(User))
        {
            <!-- USER -->
            <!-- RATING -->
            <!-- LINKS -->
            <!-- SUPPORT -->    
        }
        else
        {
            <div class="sidebar-block-item header">
                <!-- AVATAR -->
                <a asp-action="SignIn" asp-controller="User" class="user-avatar">
                    <img src="@ViewBag.DefaultAvatar" data-src="@ViewBag.Avatar" alt="Аватар пользователя" asp-append-version="true">
                </a>
                <!-- GUEST/LOGIN -->
                <div class="user-section">
                    <a asp-action="SignIn" asp-controller="User" class="user-nick">@ViewBag.Login</a>
                    <a asp-action="SignIn" asp-controller="User" class="user-signin-signout">Войти</a>
                </div>
            </div>
            <!-- AUTH -->
        }
    }
    <div class="separator">Поддержка</div>
    <div class="sidebar-block-item">
        @if (ViewBag.Page == "Rules")
        {
            <a asp-action="Rules" asp-controller="Other" class="sidebar-link active">Правила</a>
        }
        else
        {
            <a asp-action="Rules" asp-controller="Other" class="sidebar-link">Правила</a>
        }
        @if (ViewBag.Page == "Support")
        {
            <a asp-action="Support" asp-controller="Other" class="sidebar-link active">Поддержка</a>
        }
        else
        {
            <a asp-action="Support" asp-controller="Other" class="sidebar-link">Поддержка</a>
        }
    </div>
</div>

<div class="sidebar-block">
    <!-- ADD POST -->
</div>
