@import (reference) "palette";
/*-----COMMON-----*/
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  transition: 200ms ease-in-out;
  body {
    background-color: var(--background-color) !important;
    background-image: var(--background-image);
    background-repeat: repeat;
  }
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
  }
  font-size: 16px;
  line-height: 16px;
  font-family: "Roboto Conde", "Roboto", "Arial", sans-serif;
}
/*-----RESET-----*/
li {
  list-style: none;
}
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: transparent none 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)!important;
}
/*-----SEPARATOR-----*/
div.separator {
  color: var(--border-color);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  cursor: default;
  &.semi {
    padding: 0 12px;
  }
  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--border-color);
    transition: 200ms ease-in-out;
  }
  &:not(:empty){
    margin: -6px 0 -6px 0!important;
    &:before {
      margin-right: 4px
    }
    &:after {
      margin-left: 4px;
    }
  }
}
/*-----COUNTER-----*/
.counter {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 6px 0 0;
  cursor: default;
  color: var(--primary-text-color);
}
.counter-label {
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 0 0;
  cursor: default;
  color: var(--primary-text-color);

  &.link {
    cursor: pointer;
    color: var(--primary-text-color);
    text-decoration: none;

    &:hover {
      color: var(--minor-accent-color);
      text-decoration: none;
    }

    &.active {
      color: var(--minor-accent-color);
      text-decoration: none;
    }
  }
}
