@import (reference) "palette";
/*-----HEADER-----*/
.header{
position: sticky;
top: 0;
z-index: 1020;
  .navbar{
  background-color: var(--major-accent-color);
  transition: 200ms ease-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
    .navbar-brand {
      color: var(--active-color);
      &:hover, &:focus {
        color: var(--active-color); 
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-right: 0;
        margin-bottom: 0;
        list-style: none;
      }
    }
    .navbar-nav {
      .nav-link {
        color: var(--secondary-text-color);
          &:hover, &:focus {
          color: var(--active-color);
        }
          &.disabled {
          color: var(--disabled-text-color);
        }
          &.active {
          color: var(--active-color);
        }
      }
    }
    .navbar-toggler {
      padding: 0;
      background: none;
      border: none;
      &:active, &:focus {
        outline: 0;
      }
      .icon-bar {
        background-color: var(--active-color);
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin: 4px 0 4px 0;
        transition: all 0.2s;
        &:nth-of-type(1) {
          transform: rotate(45deg) translate3d(20%,200%,0);
        }
        &:nth-of-type(2) {
          transform: rotate(45deg);
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: rotate(-45deg) translate3d(20%,-200%,0);
        }
      }
      &.collapsed {
        .icon-bar {
          &:nth-of-type(1) {
            transform: rotate(0);
          }
          &:nth-of-type(2) {
            transform: rotate(0);
            opacity: 1;
          }
          &:nth-of-type(3) {
            transform: rotate(0);
          }
        }
      }
    }
    .navbar-collapse{
      .navbar-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 200%;
        .navbar-right-item {
          padding-right: 16px;

          &:last-child {
            padding-right: 0;
          }
        }
        .search {
          .search-button {
            transition: 200ms ease;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            font-size: 1.3rem;
            color: var(--article-text-color);
            background-color: var(--section-background-color);
            padding: 0;
            border: 0;

            &:hover {
              transition: 200ms ease;
              color: var(--minor-accent-color);
            }
          }

          .search-input-field {
            transition: 200ms ease;
            transition-delay: 200ms;
            transform: scaleX(1);
            transform-origin: right;
            color: var(--article-text-color);
            background-color: var(--section-background-color);
            border: 0;

            &.active, &.focus {
              color: var(--article-text-color);
              background-color: var(--section-background-color);
            }

            &::-ms-clear {
              display: none !important;
            }

            &::-webkit-search-cancel-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          &.hidden {
            .search-button {
              transition: 200ms ease;
              transition-delay: 200ms;
              border-radius: 50% !important;
              height: 40px;
              width: 40px;
              color: var(--secondary-text-color);
              background-color: var(--minor-accent-color);

              &:hover {
                transition: color 200ms ease;
                color: var(--minor-accent-color);
                background-color: var(--section-background-color)
              }
            }

            .search-input-field {
              transition: 200ms ease;
              transform: scaleX(0);
              transform-origin: right;
              padding: 0;
              width: 1px;
            }
          }
        }
      }
    }
  }
}

