@import (reference) "palette";
/*-----MAIN-----*/
.main {
  position: relative;
  width: 80%;
  margin: 0;
  .main-section {
    border: 1px solid var(--border-color);
    background-color: var(--section-background-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 12px 0 0 0;
    .main-section-item {
      display: flex;
      flex-direction: column;
      padding: 12px;
      &:first-child {
        border-radius: 3px 3px 0 0;
      }
      &:last-child {
        border-radius: 0 0 3px 3px;
      }
      &:only-child {
        border-radius: 3px;
      }
    }
    &.section-footer {
      background-color: var(--dark-section-background-color);
      flex-direction: row;
    }
    &.sign-in-up {
      flex-direction: row;
      .sign-in-up-form {
        width: 90%;
        flex-direction: column;
        span {
          &.field-validation-valid {
            margin: 0;
            transition: 100ms ease-out;
            color: var(--negative-color);
            opacity: 0!important;
          }
          &.field-validation-error {
            margin: 12px 0 0 0;
            transition: 100ms ease-out;
            color: var(--negative-color);
            opacity: 1 !important;
          }
        }
        .sign-in-helper {
          margin: 12px 0 0 0;
          display: flex;
          .forgot-password {
            transition: 200ms ease;
            cursor: pointer;
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
            color: var(--primary-text-color);
            text-decoration: none;
            margin: 0 0 0 auto;
            &:hover {
              transition: 200ms ease;
              cursor: pointer;
              color: var(--minor-accent-color);
            }
          }
          .remember-me {
            flex-direction: row;
            display: flex;
            input {
              position: relative;
              width: 20px;
              height: 20px;
              border: 1px solid var(--border-color);
              border-radius: 4px;
              appearance: none;
              outline: 0;
              cursor: pointer;
              transition: background 200ms ease;
              &::before {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                left: 5px;
                width: 8px;
                height: 14px;
                border-style: solid;
                border-color: var(--active-color);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                opacity: 0;
              }
              &:checked {
                color: var(--active-color);
                border-color: var(--minor-accent-color);
                background: var(--minor-accent-color);
                &::before {
                  opacity: 1;
                }
                ~ label::before {
                  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
              }
            }
            label {
              transition: 200ms ease;
              cursor: pointer;
              font-size: 14px;
              line-height: 20px;
              font-weight: normal;
              color: var(--primary-text-color);
              text-decoration: none;
              margin: 0 0 0 12px;
              &:hover {
                transition: 200ms ease;
                cursor: pointer;
                color: var(--minor-accent-color);
              }
            }
          }
        }
        .sign-in-up-form-header {
          color: var(--caption-color);
          font-weight: bold;
          font-size: 16px;
          line-height: 16px;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
        }
        .sign-in-up-confirm {
          transition: 200ms ease;
          background-color: var(--major-accent-color);
          color: var(--secondary-text-color);
          border-radius: 4px;
          border: none;
          height: 36px;
          width: 100%;
          font-size: 16px;
          padding: 0;
          margin: 12px 0 0 0;
          &:hover {
            transition: 200ms ease;
            background-color: var(--minor-accent-color);
            color: var(--active-color);
          }
        }
        .sign-in-up-switcher {
          transition: 200ms ease;
          cursor: pointer;
          font-size: 16px;
          line-height: 16px;
          font-weight: normal;
          color: var(--primary-text-color);
          text-decoration: none;
          &:hover {
            transition: 200ms ease;
            text-decoration: underline;
            cursor: pointer;
            color: var(--minor-accent-color);
          }
        }
      }
      .oauth {
        background-color: var(--dark-section-background-color);
        border-left: 1px solid var(--border-color);
        width: 10%;
        align-items: center;
        flex-direction: column;
        .social-icon {
          transition: 200ms ease;
          line-height: 0;
          text-align: center;
          height: 40px;
          width: 40px;
          margin: 0 0 12px 0;
          display: block;
          position: relative;
          border-radius: 2px;
          background-color: var(--shadow-color);
          &.vk:hover {
            transition: 200ms ease;
            background-color: var(--social-vk)
          }
          &.google:hover {
            transition: 200ms ease;
            background-color: var(--social-google)
          }
          &:last-child {
            margin: 0;
          }
        }
      }
      
      .separator {
        visibility: hidden;
        width: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .main {
    position: relative;
    width: 100%;
    .main-section {
      &.sign-in-up {
        flex-direction: column;
        .sign-in-up-form {
          width: 100%;
        }
        .oauth {
          background-color: var(--section-background-color);
          border: none;
          width: 100%;
          justify-content: center;
          flex-direction: row;
          .social-icon {
            margin: 0 12px 0 0;
            border-radius: 2px;
            &:last-child {
              margin: 0;
            }
          }
        }
        .separator {
          visibility: visible;
          width: 100%;
          z-index: 0;
        }
      }
    }
  }
}