@positive-color: #49A669;
@negative-color: #FD5D47;
/*-----DEFAULT THEME-----*/
html{
  --primary-text-color: #4E4E4E;
  --secondary-text-color: #F2F2F2B3;
  --article-text-color: #212121;
  --disabled-text-color: #393D41;
  --caption-color: #757575;
  --active-color: #FFFFFF;
  --section-background-color: #FFFFFF;
  --dark-section-background-color: #F9F9FB;
  --background-color: #ECECEC;
  --border-color: #D6D6D6;
  --major-accent-color: #49A669;
  --minor-accent-color: #3F9B5F;
  --shadow-color: rgba(0, 0, 0, 0.16);
}
/*-----DARK THEME-----*/
html[theme-color="dark"] {
  --primary-text-color: #A6A6A6;
  --secondary-text-color: #FFFFFFB3;
  --article-text-color: #BFBFBF;
  --disabled-text-color: #7D7D7D;
  --caption-color: #7D7D7D;
  --active-color: #FFFFFF;
  --section-background-color: #20292D;
  --dark-section-background-color: #1A1E21;
  --background-color: #1D2324;
  --border-color: #393D41;
}
/*-----ACCENTS-----*/
html[accent-color="yellow"] {
  --major-accent-color: #FFB948;
  --minor-accent-color: #F5AF3E;
}
html[accent-color="sky"] {
  --major-accent-color: #03A6A6;
  --minor-accent-color: #026873;
}
html[accent-color="pastel"] {
  --major-accent-color: #8880AB;
  --minor-accent-color: #90A7FF;
}