@model Onym.ViewModels.User.ForgotPasswordViewModel
@{
    ViewBag.Title = "Забыли пароль?";
    ViewBag.Page = "ForgotPassword";
}

<div class="main-section">
    <div class="separator"></div>
    <form asp-action="ForgotPassword" asp-controller="User" class="main-section-item" method="post">
        <div class="form-header">Забыли пароль?</div>
        <input asp-for="Email" readonly onfocus="this.removeAttribute('readonly');" class="form-input-text"/>
        <span asp-validation-for="Email" class=""></span>
        @{
            if (Model.EmailSended)
            {
                <span class="settings-saved-message">Проверьте указанную почту, если письмо не пришло, проверьте спам или попробуйте ещё раз.</span>
            }
        }
        <button type="submit" class="form-confirm">Отправить письмо</button>
    </form>
</div>
