@model Onym.ViewModels.User.ResetPasswordViewModel
@{
    ViewBag.Title = "Сброс пароля";
    ViewBag.Page = "ResetPassword";
}

<div class="main-section">
    <form class="main-section-item" method="post">
        <div class="form-header">Сброс пароля</div>
        <input asp-for="NewPassword" readonly onfocus="this.removeAttribute('readonly');" class="form-input-text password"/>
        <span asp-validation-for="NewPassword" class=""></span>
        <input asp-for="ConfirmNewPassword" readonly onfocus="this.removeAttribute('readonly');" class="form-input-text password"/>
        <span asp-validation-for="ConfirmNewPassword" class=""></span>
        @{
            if (Model.PasswordChanged)
            {
                <span class="settings-saved-message">Пароль успешно изменён.</span>
            }
        }
        @{
            if (Model.Error)
            {
                <span class="field-validation-error">Похоже, ссылка больше недействительна, запросите новую ссылку для сброса пароля.</span>
            }
        }
        <button type="submit" class="form-confirm">Изменить пароль</button>
    </form>
</div>
