@{
    ViewBag.Title = "Вход";
    ViewBag.Page = "SignIn";
}
@*<form asp-action="SignIn" asp-controller="User" asp-anti-forgery="true" class="form-group ml-3 mr-3">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-center row">
            <h6>Авторизация</h6>
            <input type="text" asp-for="UserLogin" class="form-control mt-2"/>
            <span asp-validation-for="UserLogin" class="d-block mr-auto text-danger"></span>
            <input type="password" asp-for="Password" class="form-control mt-3"/>
            <span asp-validation-for="Password" class="d-block mr-auto text-danger"></span>
            <!-- TODO Реализовать восстановление пароля -->
            <a asp-action="" asp-area="" asp-controller="User" class="text-muted ml-auto">Забыли пароль?</a>
            <button type="submit" name="signUp" value="signUp" class="btn btn-success d-flex justify-content-center w-100 mt-3 accent-bg-color">Войти</button>
            <a asp-action="SignUp" asp-area="" asp-controller="User" class="user-sign-in-up-link mt-2">Регистрация</a>
        </li>
    </ul>
</form>*@