@model Onym.ViewModels.User.SignInViewModel
@{
    ViewBag.Title = "Вход";
    ViewBag.Page = "SignIn";
}
<div class="main-section sign-in-up">
    <form asp-action="SignIn" asp-anti-forgery="true" asp-controller="User" autocomplete="off" class="main-section-item sign-in-up-form">
        <div class="sign-in-up-form-header">
            <div class="form-header">Вход</div>
            <span>/</span>
            <a asp-action="SignUp" asp-controller="User" class="sign-in-up-switcher">Регистрация</a>
        </div>
        <input asp-for="UserName" class="form-input-text"/>
        <span asp-validation-for="UserName" class=""></span>
        <input asp-for="Password" class="form-input-text password"/>
        <span asp-validation-for="Password" class=""></span>
        <button type="submit" class="form-confirm">Войти</button>
        <div class="sign-in-helper">
            <div class="remember-me">
                <input asp-for="RememberMe" id="rememberMe" type="checkbox"/>
                <label asp-for="RememberMe" for="rememberMe"></label>
            </div>
            <a asp-action="ForgotPassword" asp-controller="User" class="forgot-password">Забыли пароль?</a>
        </div>
    </form>
    <div class="separator">или</div>
    <div class="main-section-item oauth">
        @{
            await Html.RenderPartialAsync("_OauthLinks");
        }
    </div>
</div>