@model Onym.ViewModels.User.SignUpViewModel
@{
    ViewBag.Title = "Регистрация";
    ViewBag.Page = "SignUp";
}
<div class="main-section sign-in-up">
    <form asp-action="SignUp" asp-anti-forgery="true" asp-controller="User" autocomplete="off" class="main-section-item sign-in-up-form">
        <div class="sign-in-up-form-header">
            <a asp-action="SignIn" asp-controller="User" class="sign-in-up-switcher">Вход</a>
            <span>/</span>
            <div class="form-header">Регистрация</div>
        </div>
        <input asp-for="UserName" readonly onfocus="this.removeAttribute('readonly');" class="form-input-text"/>
        <span asp-validation-for="UserName" class=""></span>
        <input asp-for="Email" readonly onfocus="this.removeAttribute('readonly');" class="form-input-text"/>
        <span asp-validation-for="Email" class=""></span>
        <input asp-for="Password" readonly onfocus="this.removeAttribute('readonly');" class="form-input-text"/>
        <span asp-validation-for="Password"></span>
        <input asp-for="ConfirmPassword" readonly onfocus="this.removeAttribute('readonly');" class="form-input-text"/>
        <span asp-validation-for="ConfirmPassword" class=""></span>
        <button class="form-confirm" type="submit">Создать аккаунт</button>
    </form>
    <div class="separator">или</div>
    <div class="main-section-item oauth">
        @{
            await Html.RenderPartialAsync("_OauthLinks");
        }
    </div>
</div>