.accordion-section .accordion-item {
  background-color: var(--section-background-color);
  border: none !important;
  margin: 0;
}
.accordion-section .accordion-item:last-child .accordion-toggler {
  border-radius: 0 0 3px 3px;
}
.accordion-section .accordion-item .accordion-toggler {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 12px;
  text-align: left;
  justify-content: space-between;
  background-color: var(--section-background-color);
  color: var(--caption-color);
}
.accordion-section .accordion-item .accordion-toggler .accordion-toggler-name {
  width: 20%;
  min-width: 130px;
  transition: none;
}
.accordion-section .accordion-item .accordion-toggler .accordion-toggler-description {
  margin: 0 auto 0 0;
  font-style: italic;
  transition: none;
}
.accordion-section .accordion-item .accordion-toggler:not(.collapsed) {
  background-color: var(--shadow-color);
  color: var(--minor-accent-color);
  border-radius: 0;
}
.accordion-section .accordion-item .accordion-toggler:not(.collapsed) .accordion-toggler-icon {
  transform: rotate(180deg);
}
.accordion-section .accordion-item .accordion-toggler:hover {
  transition: 200ms ease-in-out;
  background-color: var(--shadow-color);
  color: var(--minor-accent-color);
}
.accordion-section .accordion-item .accordion-toggler .accordion-toggler-icon {
  font-size: 16px;
  line-height: 16px;
  transform: rotate(0);
  transition: transform 200ms ease-in-out;
}
.accordion-section .accordion-item-header {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}
.accordion-section .accordion-item-body {
  border: none;
  background-color: var(--section-background-color);
  padding: 0;
  margin: 0;
}
.accordion-section .accordion-item-body:last-child {
  border-radius: 0 0 3px 3px;
}
@media (max-width: 375px) {
  .accordion-toggler-description {
    display: none;
  }
  .accordion-toggler-name {
    width: 100% !important;
  }
}

/*-----COMMON-----*/
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  transition: color 200ms ease-in-out;
  font-size: 16px;
  line-height: 16px;
  font-family: "Roboto Conde", "Roboto", "Arial", sans-serif;
}
* body {
  background-color: var(--background-color) !important;
  background-image: var(--background-image);
  background-repeat: repeat;
}
* .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 0 12px 0;
}
/*-----RESET-----*/
li {
  list-style: none;
}
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: transparent none 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
/*-----SEPARATOR-----*/
div.separator {
  color: var(--border-color);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  cursor: default;
}
div.separator.semi {
  padding: 0 12px;
}
div.separator::before,
div.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--border-color);
  transition: 200ms ease-in-out;
}
div.separator:not(:empty) {
  margin: -6px 0 -6px 0 !important;
}
div.separator:not(:empty):before {
  margin-right: 4px;
}
div.separator:not(:empty):after {
  margin-left: 4px;
}
/*-----COUNTER-----*/
.counter {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 6px 0 0;
  cursor: default;
  color: var(--primary-text-color);
}
.counter-label {
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 0 0;
  cursor: default;
  color: var(--primary-text-color);
}
.counter-label.link {
  cursor: pointer;
  color: var(--primary-text-color);
  text-decoration: none;
}
.counter-label.link:hover {
  color: var(--minor-accent-color);
  text-decoration: none;
}
.counter-label.link.active {
  color: var(--minor-accent-color);
  text-decoration: none;
}

/* COMMENT */
.comment-content {
  transition: none;
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
}
.comment-content span {
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
}
.comment-content em {
  transition: none;
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
}
.comment-content strong {
  transition: none;
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
}
.comment-content p {
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
  margin: 0 !important;
}
.comment-content p a {
  font-size: 14px !important;
  line-height: 18px !important;
  text-decoration: none;
  color: var(--major-accent-color) !important;
}
.comment-content p a:hover {
  color: var(--minor-accent-color) !important;
  text-decoration: underline;
}
.comment-content p span {
  font-size: 14px !important;
  line-height: 18px !important;
  background: none !important;
  transition: none;
}
.comment-content p + p {
  margin: 12px 0 0 0 !important;
}
.comment-content p + blockquote {
  margin: 12px 0 0 0 !important;
}
.comment-content blockquote {
  padding: 12px;
  margin: 0 !important;
  color: var(--article-text-color);
  background-color: var(--shadow-color);
  border-radius: 4px;
  border-left: 4px solid var(--negative-color);
}
.comment-content blockquote + blockquote {
  margin: 12px 0 0 0 !important;
}
.comment-content blockquote + p {
  margin: 12px 0 0 0 !important;
}
.comment-media {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}
.comment-media .comment-media-item {
  margin: 0 0 6px 0;
  width: 100%;
  transition: 200ms;
  background-color: #FFFFFF;
}
.comment-media .comment-media-item:last-child {
  margin: 0;
}
.comment-media .comment-media-item a {
  display: flex;
}
.comment-media .comment-media-item a img {
  background-color: #FFFFFF;
  min-height: 15vh;
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}

/*-----FORM-----*/
.form-header {
  color: var(--caption-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
}
.form-confirm {
  background-color: var(--major-accent-color);
  color: var(--secondary-text-color);
  border-radius: 4px;
  border: none;
  height: 36px;
  width: 100%;
  font-size: 16px;
  padding: 0;
  margin: 12px 0 0 0;
}
.form-confirm:hover {
  background-color: var(--minor-accent-color);
  color: var(--active-color);
}
.form-confirm.small {
  width: auto;
  background-color: transparent;
  text-decoration: underline;
  height: 16px;
  color: var(--caption-color);
  font-size: 16px;
  line-height: 16px;
}
.form-confirm.small:hover {
  color: var(--minor-accent-color);
}
.form-input-text {
  background-color: var(--dark-section-background-color);
  color: var(--article-text-color);
  border: 1px solid var(--border-color);
  font-size: 16px;
  line-height: 32px;
  border-radius: 4px;
  padding: 0 8px;
  margin: 12px 0 0 0;
}
.form-input-text.password {
  padding: 2px 8px 0 8px;
}
.form-input-text.tag-input {
  padding: 0;
}
.form-input-text.tag-input input {
  background-color: transparent;
  color: var(--article-text-color);
  border: none;
  width: 100%;
  padding: 0 8px;
  font-size: 16px;
  line-height: 32px;
}
.form-input-text.tag-input span {
  font-size: 16px;
  line-height: 32px;
}
.form-input-text:first-child {
  margin: 0;
}
.form-input-text.input-validation-error {
  border-color: var(--negative-color);
}
.form-input-text.valid {
  border-color: var(--border-color);
}
.form-input-textarea {
  background-color: var(--dark-section-background-color);
  color: var(--article-text-color);
  border: 1px solid var(--border-color) !important;
  font-size: 16px;
  line-height: 32px;
  border-radius: 4px !important;
  padding: 8px !important;
  margin: 12px 0 0 0;
  min-height: 240px;
  outline: none !important;
  box-shadow: none !important;
}
.form-input-textarea:before {
  color: var(--caption-color) !important;
  content: attr(data-mce-placeholder);
  position: absolute;
  margin: 0 0 0 8px;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
}
.form-input-textarea.small {
  min-height: 80px;
}
.form-input-textarea:first-child {
  margin: 0;
}
.form-input-textarea.input-validation-error {
  border-color: var(--negative-color);
}
.form-input-textarea.valid {
  border-color: var(--border-color);
}
.status {
  display: flex;
  flex-direction: row;
}
.status span {
  margin: 0 6px 0 0;
}
.status span:last-of-type {
  margin: 0;
}
.status span:only-of-type {
  margin: 0 6px 0 0;
}
.status span.confirmed {
  font-size: 16px;
  line-height: 16px;
  color: var(--positive-color);
}
.status span.not-confirmed {
  font-size: 16px;
  line-height: 16px;
  color: var(--caption-color);
}
.status button {
  margin: 0;
}
span.settings-saved-message {
  font-size: 14px;
  line-height: 14px;
  margin: 12px 0 0 0;
  color: var(--positive-color);
}
span.post-added-message {
  font-size: 14px;
  line-height: 14px;
  margin: 12px 0 0 0;
  color: var(--primary-text-color);
}
span.post-added-message .link {
  font-size: 14px;
  line-height: 14px;
  color: var(--minor-accent-color);
  text-decoration: none;
}
span.post-added-message .link:hover {
  color: var(--major-accent-color);
  text-decoration: underline;
}
span.field-validation-valid {
  margin: 0;
  color: var(--negative-color);
  opacity: 0 !important;
  font-size: 14px;
  line-height: 14px;
}
span.field-validation-valid span {
  opacity: 0 !important;
  font-size: 14px;
  line-height: 14px;
}
span.field-validation-error {
  margin: 12px 0 0 0;
  color: var(--negative-color);
  opacity: 1 !important;
  font-size: 14px;
  line-height: 14px;
}
span.field-validation-error span {
  opacity: 1 !important;
  font-size: 14px;
  line-height: 14px;
}

/*-----HEADER-----*/
.header {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.header .navbar {
  background-color: var(--major-accent-color);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .navbar-brand {
  color: var(--active-color);
}
.header .navbar .navbar-brand:hover,
.header .navbar .navbar-brand:focus {
  color: var(--active-color);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 0;
  margin-bottom: 0;
  list-style: none;
}
.header .navbar .navbar-nav .nav-link {
  color: var(--secondary-text-color);
}
.header .navbar .navbar-nav .nav-link:hover,
.header .navbar .navbar-nav .nav-link:focus {
  color: var(--active-color);
}
.header .navbar .navbar-nav .nav-link.disabled {
  color: var(--disabled-text-color);
}
.header .navbar .navbar-nav .nav-link.active {
  color: var(--active-color);
}
.header .navbar .navbar-toggler {
  padding: 0;
  background: none;
  border: none;
}
.header .navbar .navbar-toggler:active,
.header .navbar .navbar-toggler:focus {
  outline: 0;
}
.header .navbar .navbar-toggler .icon-bar {
  background-color: var(--active-color);
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
}
.header .navbar .navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg) translate3d(20%, 200%, 0);
}
.header .navbar .navbar-toggler .icon-bar:nth-of-type(2) {
  transform: rotate(45deg);
  opacity: 0;
}
.header .navbar .navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg) translate3d(20%, -200%, 0);
}
.header .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}
.header .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  transform: rotate(0);
  opacity: 1;
}
.header .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}
.header .navbar .navbar-collapse .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 200%;
}
.header .navbar .navbar-collapse .navbar-right .navbar-right-item {
  padding-right: 16px;
}
.header .navbar .navbar-collapse .navbar-right .navbar-right-item:last-child {
  padding-right: 0;
}
.header .navbar .navbar-collapse .navbar-right .search .search-button {
  border-radius: 0 50% 50% 0;
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  color: var(--article-text-color);
  background-color: var(--section-background-color);
  padding: 0;
  border: 0;
}
.header .navbar .navbar-collapse .navbar-right .search .search-button:hover {
  color: var(--minor-accent-color);
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field {
  transition-delay: 200ms !important;
  transition: 200ms ease-in-out;
  transform: scaleX(1);
  transform-origin: right;
  color: var(--article-text-color);
  background-color: var(--section-background-color);
  border: 0;
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field.active,
.header .navbar .navbar-collapse .navbar-right .search .search-input-field.focus {
  transition-delay: 200ms;
  transition: 200ms ease-in-out;
  color: var(--article-text-color);
  background-color: var(--section-background-color);
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field::-ms-clear {
  display: none !important;
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
  margin: 0;
}
.header .navbar .navbar-collapse .navbar-right .search.hidden .search-button {
  transition-delay: 400ms;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  color: var(--secondary-text-color);
  background-color: var(--minor-accent-color);
}
.header .navbar .navbar-collapse .navbar-right .search.hidden .search-button:hover {
  color: var(--minor-accent-color);
  background-color: var(--section-background-color);
}
.header .navbar .navbar-collapse .navbar-right .search.hidden .search-input-field {
  transform: scaleX(0);
  transform-origin: right;
  padding: 0;
  width: 1px;
}

/*-----MAIN-MENU-----*/
.main-menu-panel {
  flex-direction: row !important;
  padding: 0 12px 0 12px !important;
  margin: 0;
  background-color: var(--dark-section-background-color);
}
.main-menu-panel .main-menu-panel-li {
  margin: 0 24px 0 0;
}
.main-menu-panel .main-menu-panel-li:last-child {
  margin: 0;
}
.main-menu-panel .main-menu-panel-li:only-child {
  margin: 0;
}
.main-menu-panel .main-menu-panel-li.settings {
  margin: 0 0 0 auto;
}
.main-menu-panel .main-menu-panel-link {
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
}
.main-menu-panel .main-menu-panel-link.settings-button {
  font-size: 24px;
}
.main-menu-panel .main-menu-panel-link.active {
  color: var(--minor-accent-color);
}
.main-menu-panel .main-menu-panel-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--minor-accent-color);
}

/*-----MAIN-----*/
.feed-pagination-button {
  border: 1px solid var(--border-color);
  background-color: var(--major-accent-color);
  border-radius: 4px;
  display: flex;
  padding: 12px;
  margin: 12px 0 0 0;
  width: 100%;
  color: var(--secondary-text-color);
  justify-content: center;
  text-decoration: none;
}
.feed-pagination-button:hover {
  background-color: var(--minor-accent-color);
  color: var(--active-color);
}
.main {
  position: relative;
  width: 80%;
  margin: 0;
}
.main .main-section {
  border: 1px solid var(--border-color);
  background-color: var(--section-background-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 12px 0 0 0;
}
.main .main-section .main-section-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.main .main-section .main-section-item.comment {
  padding: 12px 12px 0 12px;
}
.main .main-section .main-section-item.comment:last-child {
  padding: 12px;
}
.main .main-section .main-section-item .filter-button {
  margin: 0;
}
.main .main-section .main-section-item .filter-item {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 12px 0;
}
.main .main-section .main-section-item .filter-item:last-of-type {
  margin: 0;
}
.main .main-section .main-section-item .filter-item label {
  margin: 0 12px 0 0;
  font-size: 16px;
  line-height: 16px;
  cursor: default;
  color: var(--primary-text-color);
}
.main .main-section .main-section-item .filter-item input {
  margin: 0;
  display: flex;
  width: 100%;
}
.main .main-section .main-section-item:first-child {
  border-radius: 3px 3px 0 0;
}
.main .main-section .main-section-item:last-child {
  border-radius: 0 0 3px 3px;
}
.main .main-section .main-section-item:only-child {
  border-radius: 3px;
}
.main .main-section .main-section-item.section-header {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  cursor: default;
  color: var(--primary-text-color);
}
.main .main-section .main-section-item.section-footer {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
}
.main .main-section .main-section-item.publication-header {
  flex-direction: column;
}
.main .main-section .main-section-item.publication-header .publication-favorite-button {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: row-reverse;
}
.main .main-section .main-section-item.publication-header .publication-favorite-button button {
  display: block;
  border: none;
  background: none;
  width: 36px;
  height: 36px;
  z-index: 1;
  margin: -20px 0 0 0;
  transition: inherit;
}
.main .main-section .main-section-item.publication-header .publication-favorite-button button svg {
  height: 36px;
  width: 36px;
  fill: var(--section-background-color);
  color: var(--border-color);
  transition: none;
}
.main .main-section .main-section-item.publication-header .publication-favorite-button button:hover {
  transform: scaleY(1.1);
  transform-origin: top;
  transition: inherit;
}
.main .main-section .main-section-item.publication-header .publication-favorite-button button:hover svg {
  fill: var(--favorite-color);
  color: var(--favorite-color);
}
.main .main-section .main-section-item.publication-header .publication-favorite-button button.favorite {
  transform: scaleY(1.1);
  transform-origin: top;
  transition: inherit;
}
.main .main-section .main-section-item.publication-header .publication-favorite-button button.favorite svg {
  fill: var(--favorite-color);
  color: var(--favorite-color);
}
.main .main-section .main-section-item.publication-header .publication-title-block {
  display: flex;
  flex-direction: row;
}
.main .main-section .main-section-item.publication-header .publication-title-block .publication-title {
  color: var(--primary-text-color);
  text-decoration: none;
  margin: 0 6px 0 0;
  transition: none;
}
.main .main-section .main-section-item.publication-header .publication-title-block .publication-title h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: currentColor;
  transition: 200ms;
  margin: 0;
}
.main .main-section .main-section-item.publication-header .publication-title-block .publication-title h5:hover {
  transition: 200ms;
  color: var(--minor-accent-color);
}
.main .main-section .main-section-item.publication-header .publication-title-block .publication-title.disabled:hover h5 {
  color: var(--primary-text-color);
}
.main .main-section .main-section-item.publication-header .publication-author-block {
  margin: 0 0 6px 0;
  display: flex;
  flex-direction: row;
}
.main .main-section .main-section-item.publication-header .publication-author-block .info {
  align-self: center;
}
.main .main-section .main-section-item.publication-header .publication-author-block .info .user-nick {
  font-size: 14px;
  line-height: 14px;
}
.main .main-section .main-section-item.publication-header .publication-author-block .info .publication-creation-time {
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-text-color);
}
.main .main-section .main-section-item.publication-tag-block {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 12px 12px 12px;
}
.main .main-section .main-section-item.publication-tag-block .tag {
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-text-color);
  text-decoration: none;
  margin: 12px 12px 0 0;
  white-space: nowrap;
}
.main .main-section .main-section-item.publication-tag-block .tag:hover {
  color: var(--minor-accent-color);
  text-decoration: underline;
}
.main .main-section .main-section-item.publication-tag-block .tag:last-child {
  margin: 12px 0 0 0;
}
.main .main-section .main-section-item.publication-footer {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .main-section .main-section-item.publication-footer .publication-comments {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  margin: 0 24px 0 0;
}
.main .main-section .main-section-item.publication-footer .publication-comments .publication-comments-counter {
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-text-color);
}
.main .main-section .main-section-item.publication-footer .publication-comments svg {
  height: 24px;
  width: 24px;
  fill: var(--section-background-color);
  color: var(--primary-text-color);
  transition: none;
  margin: 4px 6px 0 0;
}
.main .main-section .main-section-item.publication-footer .publication-rating {
  display: flex;
  flex-direction: column;
  width: 60px;
  align-items: center;
  margin: -12px;
}
.main .main-section .main-section-item.publication-footer .publication-rating .rate-button {
  font-size: 36px;
  line-height: 18px;
  color: var(--primary-text-color);
  background: none;
  border: none;
}
.main .main-section .main-section-item.publication-footer .publication-rating .rate-button.plus.active {
  color: var(--positive-color);
}
.main .main-section .main-section-item.publication-footer .publication-rating .rate-button.plus:hover {
  color: var(--positive-color);
}
.main .main-section .main-section-item.publication-footer .publication-rating .rate-button.minus.active {
  color: var(--negative-color);
}
.main .main-section .main-section-item.publication-footer .publication-rating .rate-button.minus:hover {
  color: var(--negative-color);
}
.main .main-section .main-section-item.publication-footer .publication-rating .rating-tally {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  color: var(--primary-text-color);
}
.main .main-section .main-section-item.publication-footer .publication-rating .rating-tally.hide {
  opacity: 0;
}
.main .main-section .main-section-item.edit-post-media {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .main-section .main-section-item.edit-post-media .edit-post-media-item {
  display: flex;
  flex-direction: row;
  margin: 0 0 12px 0;
  align-items: center;
}
.main .main-section .main-section-item.edit-post-media .edit-post-media-item input {
  width: 16px;
  height: 16px;
  margin: 0 12px 0 12px;
}
.main .main-section .main-section-item.edit-post-media .edit-post-media-item .message {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}
.main .main-section .main-section-item.edit-post-media .edit-post-media-item:last-child {
  margin: 0;
}
.main .main-section .main-section-item.edit-post-media .edit-post-media-item a {
  display: flex;
}
.main .main-section .main-section-item.edit-post-media .edit-post-media-item a img {
  background-color: #FFFFFF;
  width: 100px;
  object-fit: cover;
}
.main .main-section .main-section-item .comment-header {
  flex-direction: row;
  display: flex;
  padding-bottom: 0;
  margin: 0 0 6px 0;
}
.main .main-section .main-section-item .comment-header .comment-author-block {
  display: flex;
  flex-direction: row;
  margin: 0 6px 0 0;
}
.main .main-section .main-section-item .comment-header .comment-author-block .info {
  align-self: center;
}
.main .main-section .main-section-item .comment-header .comment-author-block .info .user-nick {
  font-size: 14px;
  line-height: 14px;
}
.main .main-section .main-section-item .comment-header .comment-author-block .info .user-nick.author {
  background-color: var(--major-accent-color);
  border-radius: 4px;
  padding: 0 2px;
  color: var(--active-color);
}
.main .main-section .main-section-item .comment-header .comment-author-block .info .user-nick.author:hover {
  background-color: var(--minor-accent-color);
}
.main .main-section .main-section-item .comment-header .comment-author-block .info .comment-creation-time {
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-text-color);
}
.main .main-section .main-section-item .comment-content {
  padding-top: 0;
  margin: 0 0 6px 0;
}
.main .main-section .main-section-item .comment-footer {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0 0 4px 0;
}
.main .main-section .main-section-item .comment-footer .comment-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .main-section .main-section-item .comment-footer .comment-rating .rate-button {
  font-size: 36px;
  line-height: 16px;
  color: var(--primary-text-color);
  background: none;
  border: none;
}
.main .main-section .main-section-item .comment-footer .comment-rating .rate-button.plus {
  margin: 0 -6px 0 -10px;
  padding: 2px 0 0 0;
}
.main .main-section .main-section-item .comment-footer .comment-rating .rate-button.plus.active {
  color: var(--positive-color);
}
.main .main-section .main-section-item .comment-footer .comment-rating .rate-button.plus:hover {
  color: var(--positive-color);
}
.main .main-section .main-section-item .comment-footer .comment-rating .rate-button.minus {
  padding: 0 0 2px 0;
  margin: 0 0 0 -6px;
}
.main .main-section .main-section-item .comment-footer .comment-rating .rate-button.minus.active {
  color: var(--negative-color);
}
.main .main-section .main-section-item .comment-footer .comment-rating .rate-button.minus:hover {
  color: var(--negative-color);
}
.main .main-section .main-section-item .comment-footer .comment-rating .rating-tally {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  color: var(--primary-text-color);
}
.main .main-section .main-section-item .comment-footer .comment-rating .rating-tally.hide {
  opacity: 0;
}
.main .main-section .main-section-item .comment-footer .comment-replay-button {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  color: var(--border-color);
}
.main .main-section .main-section-item .comment-footer .comment-replay-button:hover {
  color: var(--minor-accent-color);
}
.main .main-section .main-section-item .child-comments {
  border-left: 2px solid var(--border-color);
  margin: 6px 0 0 0;
  padding: 0;
}
.main .main-section .main-section-item .child-comments .main-section-item {
  padding: 6px 12px 0 12px;
}
.main .main-section.filter {
  padding: 0;
}
.main .main-section.filter .accordion-toggler {
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--dark-section-background-color) !important;
  padding: 0 12px 0 12px !important;
}
.main .main-section.filter .accordion-toggler .accordion-toggler-name {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
}
.main .main-section.filter .accordion-toggler .accordion-toggler-icon {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
}
.main .main-section.filter .accordion-toggler:hover {
  color: var(--minor-accent-color);
  background-color: var(--dark-section-background-color);
  border-radius: 3px;
}
.main .main-section.filter .accordion-toggler:not(.collapsed) {
  background-color: var(--dark-section-background-color);
  color: var(--minor-accent-color);
  border-radius: 3px 3px 0 0;
}
.main .main-section.filter .accordion-toggler:not(.collapsed) .accordion-toggler-icon {
  transform: rotate(180deg);
}
.title-button {
  display: block;
  border: none;
  border-radius: 4px;
  background: none;
  width: 20px;
  height: 20px;
  margin: 0 6px 0 0;
  transition: inherit;
}
.title-button.hide svg {
  fill: none;
  color: var(--negative-color);
}
.title-button:last-child {
  margin: 0;
}
.title-button.hide-button svg {
  fill: none;
}
.title-button.hide-button:hover svg {
  fill: none;
  color: var(--active-color);
}
.title-button svg {
  height: 20px;
  width: 20px;
  fill: var(--section-background-color);
  color: var(--border-color);
  transition: none;
}
.title-button:hover {
  background-color: var(--minor-accent-color);
  transition: inherit;
}
.title-button:hover svg {
  fill: var(--minor-accent-color);
  color: var(--active-color);
}
@media (max-width: 991px) {
  .main {
    position: relative;
    width: 100%;
  }
  .main .main-section .main-section-item {
    padding: 12px;
  }
}

/*-----DEFAULT THEME-----*/
html {
  --social-vk: #5B7AA8;
  --social-google: #D95040;
  --positive-color: #49A669;
  --negative-color: #FD5D47;
  --favorite-color: #FFB948;
  --primary-text-color: #4E4E4E;
  --secondary-text-color: #F2F2F2B3;
  --article-text-color: #212121;
  --disabled-text-color: #393D41;
  --caption-color: #757575;
  --active-color: #FFFFFF;
  --section-background-color: #FFFFFF;
  --dark-section-background-color: #F9F9FB;
  --background-color: #ECECEC;
  --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23E7E7E7' fill-opacity='1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  --border-color: #D6D6D6;
  --major-accent-color: #49A669;
  --minor-accent-color: #3F9B5F;
  --shadow-color: rgba(0, 0, 0, 0.16);
}
/*-----DARK THEME-----*/
html[theme-color="dark"] {
  --primary-text-color: #A6A6A6;
  --secondary-text-color: #FFFFFFB3;
  --article-text-color: #BFBFBF;
  --disabled-text-color: #7D7D7D;
  --caption-color: #7D7D7D;
  --active-color: #FFFFFF;
  --section-background-color: #20292D;
  --dark-section-background-color: #1A1E21;
  --background-color: #1D2324;
  --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23222728' fill-opacity='1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  --border-color: #393D41;
}
/*-----ACCENTS-----*/
html[accent-color="yellow"] {
  --major-accent-color: #FFB948;
  --minor-accent-color: #F5AF3E;
}
html[accent-color="sky"] {
  --major-accent-color: #03A6A6;
  --minor-accent-color: #026873;
}
html[accent-color="pastel"] {
  --major-accent-color: #8880AB;
  --minor-accent-color: #90A7FF;
}

/* PUBLICATION */
.publication-content {
  transition: none;
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
}
.publication-content span {
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
}
.publication-content em {
  transition: none;
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
}
.publication-content strong {
  transition: none;
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
}
.publication-content p {
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--article-text-color) !important;
  margin: 0 !important;
}
.publication-content p a {
  font-size: 14px !important;
  line-height: 18px !important;
  text-decoration: none;
  color: var(--major-accent-color) !important;
}
.publication-content p a:hover {
  color: var(--minor-accent-color) !important;
  text-decoration: underline;
}
.publication-content p span {
  font-size: 14px !important;
  line-height: 18px !important;
  background: none !important;
  transition: none;
}
.publication-content p + p {
  margin: 12px 0 0 0 !important;
}
.publication-content p + blockquote {
  margin: 12px 0 0 0 !important;
}
.publication-content blockquote {
  padding: 12px;
  margin: 0 !important;
  color: var(--article-text-color);
  background-color: var(--shadow-color);
  border-radius: 4px;
  border-left: 4px solid var(--negative-color);
}
.publication-content blockquote + blockquote {
  margin: 12px 0 0 0 !important;
}
.publication-content blockquote + p {
  margin: 12px 0 0 0 !important;
}
.publication-media {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}
.publication-media .publication-media-item {
  margin: 0 0 6px 0;
  width: 100%;
  transition: 200ms;
  background-color: #FFFFFF;
}
.publication-media .publication-media-item:last-child {
  margin: 0;
}
.publication-media .publication-media-item a {
  display: flex;
}
.publication-media .publication-media-item a img {
  background-color: #FFFFFF;
  min-height: 15vh;
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}

/*-----SIDEBAR-----*/
.sidebar {
  position: sticky;
  top: 56px;
  width: 20%;
  height: 100%;
  margin: 0 12px 0 0;
}
.sidebar .sidebar-section {
  border: 1px solid var(--border-color);
  background-color: var(--section-background-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 12px 0 0 0;
}
.sidebar .sidebar-section.add-post {
  border: none;
  background-color: var(--major-accent-color);
  color: var(--secondary-text-color);
}
.sidebar .sidebar-section.add-post .add-post-button {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  padding: 12px;
  width: 100%;
  color: currentColor;
  transition: none;
}
.sidebar .sidebar-section.add-post .add-post-icon {
  display: block;
  transform: rotate(0deg);
  margin: 0 0 0 6px;
  color: currentColor;
  font-size: 23px;
  transition: transform 200ms;
}
.sidebar .sidebar-section.add-post:hover {
  color: var(--active-color);
  background-color: var(--minor-accent-color);
}
.sidebar .sidebar-section.add-post:hover .add-post-icon {
  transform: rotate(360deg);
}
.sidebar .sidebar-section .sidebar-section-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter {
  flex-direction: column;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0 0 12px 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div:last-child {
  margin: 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter {
  font-size: 24px;
  line-height: 24px;
  margin: 0 6px 0 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter-label {
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 0 0;
}
.sidebar .sidebar-section .sidebar-section-item:first-child {
  border-radius: 3px 3px 0 0;
}
.sidebar .sidebar-section .sidebar-section-item:last-child {
  border-radius: 0 0 3px 3px;
}
.sidebar .sidebar-section .sidebar-section-item:only-child {
  border-radius: 3px;
}
.sidebar .sidebar-section .sidebar-section-item.section-header {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
  z-index: 0;
}
.sidebar .sidebar-section .sidebar-section-item .section-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  cursor: default;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-li {
  margin-bottom: 16px;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-li:last-child {
  margin-bottom: 0;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link {
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  color: var(--primary-text-color);
  margin-bottom: 16px;
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:last-child {
  margin-bottom: 0;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:before {
  left: 0;
  width: 2px;
  margin: -3px 0 0 0;
  height: 20px;
  transition: opacity 200ms ease-in-out;
  content: '';
  background-color: var(--minor-accent-color);
  opacity: 0;
  position: absolute;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:hover {
  color: var(--minor-accent-color);
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:hover:before {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link.active {
  color: var(--minor-accent-color);
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link.active:before {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.sidebar .sidebar-section .sidebar-section-item .user-section {
  flex-direction: column;
  margin: auto 0 auto 12px;
}
.sidebar .user-signin-signout {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-text-color);
  text-decoration: none;
  border: none;
  background: transparent;
}
.sidebar .user-signin-signout:hover {
  color: var(--minor-accent-color);
}
@media (max-width: 991px) {
  .sidebar {
    position: relative;
    width: 100%;
    top: 0;
    margin: 0;
  }
  .sidebar .sidebar-section .sidebar-section-item.sidebar-counter {
    flex-direction: row;
  }
  .sidebar .sidebar-section .sidebar-section-item.sidebar-counter div {
    margin: 0 12px 0 0;
  }
}

/*-----SIGN-IN-UP-----*/
.sign-in-up {
  flex-direction: row !important;
}
.sign-in-up .sign-in-up-form {
  width: 90%;
  flex-direction: column;
}
.sign-in-up .sign-in-up-form .sign-in-helper {
  margin: 12px 0 0 0;
  display: flex;
}
.sign-in-up .sign-in-up-form .sign-in-helper .forgot-password {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: var(--primary-text-color);
  text-decoration: none;
  margin: 0 0 0 auto;
}
.sign-in-up .sign-in-up-form .sign-in-helper .forgot-password:hover {
  cursor: pointer;
  color: var(--minor-accent-color);
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me {
  flex-direction: row;
  display: flex;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 5px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: var(--active-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input:checked {
  color: var(--active-color);
  border-color: var(--minor-accent-color);
  background: var(--minor-accent-color);
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input:checked::before {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input:checked ~ label::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me label {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: var(--primary-text-color);
  text-decoration: none;
  margin: 0 0 0 12px;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me label:hover {
  cursor: pointer;
  color: var(--minor-accent-color);
}
.sign-in-up .sign-in-up-form .sign-in-up-form-header {
  color: var(--caption-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.sign-in-up .sign-in-up-form .sign-in-up-form-header .sign-in-up-switcher {
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: var(--primary-text-color);
  text-decoration: none;
}
.sign-in-up .sign-in-up-form .sign-in-up-form-header .sign-in-up-switcher:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--minor-accent-color);
}
.sign-in-up .oauth {
  background-color: var(--dark-section-background-color);
  border-left: 1px solid var(--border-color);
  width: 10%;
  align-items: center;
  flex-direction: column;
}
.sign-in-up .oauth .social-icon {
  line-height: 0;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 0 0 12px 0;
  display: block;
  position: relative;
  border-radius: 2px;
  background-color: var(--shadow-color);
}
.sign-in-up .oauth .social-icon.vk:hover {
  background-color: var(--social-vk);
}
.sign-in-up .oauth .social-icon.google:hover {
  background-color: var(--social-google);
}
.sign-in-up .oauth .social-icon:last-child {
  margin: 0;
}
.sign-in-up .separator {
  visibility: hidden;
  width: 0;
}
@media (max-width: 991px) {
  .sign-in-up {
    flex-direction: column !important;
  }
  .sign-in-up .sign-in-up-form {
    width: 100%;
  }
  .sign-in-up .oauth {
    background-color: var(--section-background-color);
    border: none;
    width: 100%;
    justify-content: center;
    flex-direction: row !important;
  }
  .sign-in-up .oauth .social-icon {
    margin: 0 12px 0 0;
    border-radius: 2px;
  }
  .sign-in-up .oauth .social-icon:last-child {
    margin: 0;
  }
  .sign-in-up .separator {
    visibility: visible;
    width: 100%;
    z-index: 0;
  }
}

/*-----THEME SWITCHER POPOVER-----*/
.theme-switcher {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.theme-switcher .popover-button {
  border-radius: 50% !important;
  cursor: default;
  height: 40px;
  width: 40px;
  margin-left: auto;
  font-size: 1.3rem;
  color: var(--minor-accent-color);
  background-color: var(--section-background-color);
  padding: 0;
  border: 0;
  box-shadow: 0 0 4px 0 var(--shadow-color);
  z-index: 100;
}
.theme-switcher .popover-button:hover {
  cursor: default;
}
.theme-switcher .popover-menu {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  background-color: var(--section-background-color);
  box-shadow: 0 0 4px 0 var(--shadow-color);
  margin-bottom: 16px;
  padding: 12px;
  min-width: 200px;
  z-index: 100;
}
.theme-switcher .popover-menu:after {
  content: "";
  position: absolute;
  top: 90%;
  right: 12px;
  border: 8px solid transparent;
  transition: 200ms ease-in-out;
  border-top-color: var(--section-background-color);
  border-right-color: var(--section-background-color);
  transform: rotate(135deg);
  box-shadow: 2px -2px 4px -1px var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}
.theme-switcher .popover-menu .accent-list .accent-list-item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label::before {
  content: 'done';
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 6px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 4px;
  color: transparent;
  transition: 200ms ease-in-out;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label.green::before {
  transition: 200ms ease-in-out;
  background-color: #49A669;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label.yellow::before {
  transition: 200ms ease-in-out;
  background-color: #FFB948;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label.sky::before {
  transition: 200ms ease-in-out;
  background-color: #03A6A6;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label.pastel::before {
  transition: 200ms ease-in-out;
  background-color: #8880AB;
}
.theme-switcher .popover-menu .accent-list .accent-list-item:checked + label::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 24px 0 var(--shadow-color);
  color: var(--secondary-text-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:not(:disabled):not(:checked) + label:hover::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 24px 0 var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:not(:disabled):active + label::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 24px 0 var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:focus + label::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 12px 0 var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:focus:not(:checked) + label::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 12px 0 var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:disabled + label::before {
  transition: 200ms ease-in-out;
  background-color: var(--disabled-text-color);
}
.theme-switcher .popover-menu .theme-switcher-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  font-weight: 600;
}
.theme-switcher .popover-menu .theme-switcher-check p {
  font-weight: bold;
  color: var(--article-text-color);
  margin: 0;
}
.theme-switcher .popover-menu .theme-switcher-check input {
  height: 0;
  width: 0;
  visibility: hidden;
}
.theme-switcher .popover-menu .theme-switcher-check input:checked + label {
  background: var(--minor-accent-color);
}
.theme-switcher .popover-menu .theme-switcher-check input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.theme-switcher .popover-menu .theme-switcher-check label {
  cursor: pointer;
  width: 36px;
  height: 18px;
  background: var(--caption-color);
  display: block;
  border-radius: 18px;
  position: relative;
}
.theme-switcher .popover-menu .theme-switcher-check label:after {
  transition: 200ms ease-in-out;
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background: var(--secondary-text-color);
  border-radius: 7px;
}
.theme-switcher .popover-menu .theme-switcher-check label:active:after {
  transition: 200ms ease-in-out;
  width: 26px;
}
.theme-switcher.hidden {
  visibility: hidden;
}
.theme-switcher.hidden .popover-button {
  color: var(--article-text-color);
  box-shadow: none;
  background-color: transparent;
  visibility: visible;
}
.theme-switcher.hidden .popover-menu {
  transform: translateY(18px);
  transform-origin: bottom;
  opacity: 0;
  visibility: hidden;
}

/*-----TINY MCE-----*/

/*----- USER-PROFILE -----*/
.user-profile-header {
  flex-direction: row !important;
}
/*-----USER-AVATAR-----*/
.user-avatar {
  display: inline-block;
  border-radius: 50%;
}
.user-avatar img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: var(--section-background-color);
  border-radius: 50%;
  object-fit: cover;
}
.user-avatar.small {
  border-radius: 50%;
  background-color: var(--section-background-color);
  width: 20px;
  height: 20px;
  margin: 0 6px 0 0;
  transition: none;
}
.user-avatar.small img {
  vertical-align: middle;
  width: inherit;
  height: inherit;
  background-color: var(--section-background-color);
  border-radius: 50%;
  object-fit: cover;
}
.user-avatar.large {
  border-radius: 50%;
  background-color: var(--section-background-color);
  width: 64px;
  height: 64px;
  margin: 0 12px 0 0;
  transition: none;
}
.user-avatar.large img {
  vertical-align: middle;
  width: inherit;
  height: inherit;
  background-color: var(--section-background-color);
  border-radius: 50%;
  object-fit: cover;
}
/*-----USER-ABOUT-----*/
.user-profile-about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.user-profile-about .user-profile-nick {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  color: var(--primary-text-color);
}
.user-profile-about .user-profile-registration-date {
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-text-color);
}
/*-----USER-STATISTICS-----*/
.user-profile-statistic {
  flex-direction: row !important;
}
.user-profile-statistic div {
  align-items: baseline;
  margin: 0 24px 0 0;
}
.user-profile-statistic div:last-child {
  margin: 0;
}
.user-profile-statistic div .counter-label {
  margin: 6px 0 0 0 !important;
}
.user-profile-rates {
  color: var(--article-text-color);
}
.user-profile-rates .positive {
  color: var(--positive-color);
}
.user-profile-rates .negative {
  color: var(--negative-color);
}
/*-----USER-NICK-----*/
.user-nick {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-text-color);
  text-decoration: none;
}
.user-nick:hover {
  color: var(--minor-accent-color);
}
