.accordion-section .accordion-item {
  background-color: var(--section-background-color);
  border: none !important;
  margin: 0;
}
.accordion-section .accordion-item:last-child .accordion-toggler {
  border-radius: 0 0 3px 3px;
}
.accordion-section .accordion-item .accordion-toggler {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 12px;
  text-align: left;
  transition: none;
  justify-content: space-between;
  background-color: var(--section-background-color);
  color: var(--caption-color);
}
.accordion-section .accordion-item .accordion-toggler .accordion-toggler-name {
  width: 20%;
  min-width: 130px;
}
.accordion-section .accordion-item .accordion-toggler .accordion-toggler-description {
  margin: 0 auto 0 0;
  font-style: italic;
}
.accordion-section .accordion-item .accordion-toggler:not(.collapsed) {
  background-color: var(--shadow-color);
  color: var(--minor-accent-color);
  border-radius: 0;
}
.accordion-section .accordion-item .accordion-toggler:not(.collapsed) .accordion-toggler-icon {
  transform: rotate(180deg);
}
.accordion-section .accordion-item .accordion-toggler:hover {
  transition: 200ms ease-in-out;
  background-color: var(--shadow-color);
  color: var(--minor-accent-color);
}
.accordion-section .accordion-item .accordion-toggler .accordion-toggler-icon {
  font-size: 16px;
  line-height: 16px;
  transform: rotate(0);
}
.accordion-section .accordion-item-header {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}
.accordion-section .accordion-item-body {
  border: none;
  background-color: var(--section-background-color);
  padding: 0;
  margin: 0;
}
.accordion-section .accordion-item-body:last-child {
  border-radius: 0 0 3px 3px;
}
@media (max-width: 375px) {
  .accordion-toggler-description {
    display: none;
  }
  .accordion-toggler-name {
    width: 100% !important;
  }
}

/*-----COMMON-----*/
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  transition: 200ms ease-in-out;
  font-size: 16px;
  line-height: 16px;
  font-family: "Roboto Conde", "Roboto", "Arial", sans-serif;
}
* body {
  background-color: var(--background-color) !important;
}
* .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*-----RESET-----*/
li {
  list-style: none;
}
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: transparent none 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
/*-----SEPARATOR-----*/
div.separator {
  color: var(--border-color);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  cursor: default;
}
div.separator.semi {
  padding: 0 12px;
}
div.separator::before,
div.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--border-color);
  transition: 200ms ease-in-out;
}
div.separator:not(:empty) {
  margin: -6px 0 -6px 0 !important;
}
div.separator:not(:empty):before {
  margin-right: 4px;
}
div.separator:not(:empty):after {
  margin-left: 4px;
}
/*-----USER-AVATAR-----*/
.user-avatar {
  border-radius: 50%;
}
.user-avatar img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
/*-----USER-NICK-----*/
.user-nick {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 2px 0;
  color: var(--primary-text-color);
  text-decoration: none;
}
.user-nick:hover {
  color: var(--minor-accent-color);
}

/*-----FORM-----*/
.form-header {
  color: var(--caption-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
}
.form-confirm {
  background-color: var(--major-accent-color);
  color: var(--secondary-text-color);
  border-radius: 4px;
  border: none;
  height: 36px;
  width: 100%;
  font-size: 16px;
  padding: 0;
  margin: 12px 0 0 0;
}
.form-confirm:hover {
  background-color: var(--minor-accent-color);
  color: var(--active-color);
}
.form-confirm.small {
  width: auto;
  background-color: transparent;
  text-decoration: underline;
  height: 16px;
  color: var(--caption-color);
  font-size: 16px;
  line-height: 16px;
}
.form-confirm.small:hover {
  color: var(--minor-accent-color);
}
.form-input-text {
  background-color: var(--dark-section-background-color);
  color: var(--article-text-color);
  border: 1px solid var(--border-color);
  font-size: 16px;
  line-height: 32px;
  border-radius: 4px;
  padding: 0 8px;
  margin: 12px 0 0 0;
}
.form-input-text.password {
  padding: 2px 8px 0 8px;
}
.form-input-text.tag-input {
  padding: 0;
}
.form-input-text.tag-input input {
  background-color: transparent;
  color: var(--article-text-color);
  border: none;
  width: 100%;
  padding: 0 8px;
  font-size: 16px;
  line-height: 32px;
}
.form-input-text.tag-input span {
  font-size: 16px;
  line-height: 32px;
}
.form-input-text:first-child {
  margin: 0;
}
.form-input-text.input-validation-error {
  border-color: var(--negative-color);
}
.form-input-text.valid {
  border-color: var(--border-color);
}
.form-input-textarea {
  background-color: var(--dark-section-background-color);
  color: var(--article-text-color);
  border: 1px solid var(--border-color) !important;
  font-size: 16px;
  line-height: 32px;
  border-radius: 4px !important;
  padding: 8px !important;
  margin: 12px 0 0 0;
  min-height: 240px;
  outline: none !important;
  box-shadow: none !important;
}
.form-input-textarea:before {
  color: var(--caption-color) !important;
  content: attr(data-mce-placeholder);
  position: absolute;
  margin: 0 0 0 8px;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
}
.form-input-textarea:first-child {
  margin: 0;
}
.form-input-textarea.input-validation-error {
  border-color: var(--negative-color);
}
.form-input-textarea.valid {
  border-color: var(--border-color);
}
.email-status {
  display: flex;
  flex-direction: row;
}
.email-status span {
  margin: 0 6px 0 0;
}
.email-status span:last-of-type {
  margin: 0;
}
.email-status span:only-of-type {
  margin: 0 6px 0 0;
}
.email-status span.confirmed {
  font-size: 16px;
  line-height: 16px;
  color: var(--positive-color);
}
.email-status span.not-confirmed {
  font-size: 16px;
  line-height: 16px;
  color: var(--caption-color);
}
.email-status button {
  margin: 0;
}
span.settings-saved-message {
  font-size: 14px;
  line-height: 14px;
  margin: 12px 0 0 0;
  color: var(--positive-color);
}
span.field-validation-valid {
  margin: 0;
  color: var(--negative-color);
  opacity: 0 !important;
  font-size: 14px;
  line-height: 14px;
}
span.field-validation-valid span {
  opacity: 0 !important;
  font-size: 14px;
  line-height: 14px;
}
span.field-validation-error {
  margin: 12px 0 0 0;
  color: var(--negative-color);
  opacity: 1 !important;
  font-size: 14px;
  line-height: 14px;
}
span.field-validation-error span {
  opacity: 1 !important;
  font-size: 14px;
  line-height: 14px;
}

/*-----HEADER-----*/
.header {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.header .navbar {
  background-color: var(--major-accent-color);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .navbar-brand {
  color: var(--active-color);
}
.header .navbar .navbar-brand:hover,
.header .navbar .navbar-brand:focus {
  color: var(--active-color);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 0;
  margin-bottom: 0;
  list-style: none;
}
.header .navbar .navbar-nav .nav-link {
  color: var(--secondary-text-color);
}
.header .navbar .navbar-nav .nav-link:hover,
.header .navbar .navbar-nav .nav-link:focus {
  color: var(--active-color);
}
.header .navbar .navbar-nav .nav-link.disabled {
  color: var(--disabled-text-color);
}
.header .navbar .navbar-nav .nav-link.active {
  color: var(--active-color);
}
.header .navbar .navbar-toggler {
  padding: 0;
  background: none;
  border: none;
}
.header .navbar .navbar-toggler:active,
.header .navbar .navbar-toggler:focus {
  outline: 0;
}
.header .navbar .navbar-toggler .icon-bar {
  background-color: var(--active-color);
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
}
.header .navbar .navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg) translate3d(20%, 200%, 0);
}
.header .navbar .navbar-toggler .icon-bar:nth-of-type(2) {
  transform: rotate(45deg);
  opacity: 0;
}
.header .navbar .navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg) translate3d(20%, -200%, 0);
}
.header .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}
.header .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  transform: rotate(0);
  opacity: 1;
}
.header .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}
.header .navbar .navbar-collapse .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 200%;
}
.header .navbar .navbar-collapse .navbar-right .navbar-right-item {
  padding-right: 16px;
}
.header .navbar .navbar-collapse .navbar-right .navbar-right-item:last-child {
  padding-right: 0;
}
.header .navbar .navbar-collapse .navbar-right .search .search-button {
  border-radius: 0 50% 50% 0;
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  color: var(--article-text-color);
  background-color: var(--section-background-color);
  padding: 0;
  border: 0;
}
.header .navbar .navbar-collapse .navbar-right .search .search-button:hover {
  color: var(--minor-accent-color);
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field {
  transition-delay: 200ms !important;
  transition: 200ms ease-in-out;
  transform: scaleX(1);
  transform-origin: right;
  color: var(--article-text-color);
  background-color: var(--section-background-color);
  border: 0;
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field.active,
.header .navbar .navbar-collapse .navbar-right .search .search-input-field.focus {
  transition-delay: 200ms;
  transition: 200ms ease-in-out;
  color: var(--article-text-color);
  background-color: var(--section-background-color);
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field::-ms-clear {
  display: none !important;
}
.header .navbar .navbar-collapse .navbar-right .search .search-input-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
  margin: 0;
}
.header .navbar .navbar-collapse .navbar-right .search.hidden .search-button {
  transition-delay: 400ms;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  color: var(--secondary-text-color);
  background-color: var(--minor-accent-color);
}
.header .navbar .navbar-collapse .navbar-right .search.hidden .search-button:hover {
  color: var(--minor-accent-color);
  background-color: var(--section-background-color);
}
.header .navbar .navbar-collapse .navbar-right .search.hidden .search-input-field {
  transform: scaleX(0);
  transform-origin: right;
  padding: 0;
  width: 1px;
}

/*-----MAIN-MENU-----*/
.main-menu-panel {
  flex-direction: row !important;
  padding: 0 12px 0 12px !important;
  margin: 0;
  background-color: var(--dark-section-background-color);
}
.main-menu-panel .main-menu-panel-li {
  margin: 0 24px 0 0;
}
.main-menu-panel .main-menu-panel-li:last-child {
  margin: 0;
}
.main-menu-panel .main-menu-panel-li:only-child {
  margin: 0;
}
.main-menu-panel .main-menu-panel-li.settings {
  margin: 0 0 0 auto;
}
.main-menu-panel .main-menu-panel-link {
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
}
.main-menu-panel .main-menu-panel-link.settings-button {
  font-size: 24px;
}
.main-menu-panel .main-menu-panel-link.active {
  color: var(--minor-accent-color);
}
.main-menu-panel .main-menu-panel-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--minor-accent-color);
}

/*-----MAIN-----*/
.main {
  position: relative;
  width: 80%;
  margin: 0;
}
.main .main-section {
  border: 1px solid var(--border-color);
  background-color: var(--section-background-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 12px 0 0 0;
}
.main .main-section .main-section-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.main .main-section .main-section-item:first-child {
  border-radius: 3px 3px 0 0;
}
.main .main-section .main-section-item:last-child {
  border-radius: 0 0 3px 3px;
}
.main .main-section .main-section-item:only-child {
  border-radius: 3px;
}
.main .main-section .main-section-item.section-header {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
.main .main-section .main-section-item.section-footer {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
}
@media (max-width: 991px) {
  .main {
    position: relative;
    width: 100%;
  }
  .main .main-section .main-section-item {
    padding: 12px;
  }
}

/*-----DEFAULT THEME-----*/
html {
  --social-vk: #5B7AA8;
  --social-google: #D95040;
  --positive-color: #49A669;
  --negative-color: #FD5D47;
  --primary-text-color: #4E4E4E;
  --secondary-text-color: #F2F2F2B3;
  --article-text-color: #212121;
  --disabled-text-color: #393D41;
  --caption-color: #757575;
  --active-color: #FFFFFF;
  --section-background-color: #FFFFFF;
  --dark-section-background-color: #F9F9FB;
  --background-color: #ECECEC;
  --border-color: #D6D6D6;
  --major-accent-color: #49A669;
  --minor-accent-color: #3F9B5F;
  --shadow-color: rgba(0, 0, 0, 0.16);
}
/*-----DARK THEME-----*/
html[theme-color="dark"] {
  --primary-text-color: #A6A6A6;
  --secondary-text-color: #FFFFFFB3;
  --article-text-color: #BFBFBF;
  --disabled-text-color: #7D7D7D;
  --caption-color: #7D7D7D;
  --active-color: #FFFFFF;
  --section-background-color: #20292D;
  --dark-section-background-color: #1A1E21;
  --background-color: #1D2324;
  --border-color: #393D41;
}
/*-----ACCENTS-----*/
html[accent-color="yellow"] {
  --major-accent-color: #FFB948;
  --minor-accent-color: #F5AF3E;
}
html[accent-color="sky"] {
  --major-accent-color: #03A6A6;
  --minor-accent-color: #026873;
}
html[accent-color="pastel"] {
  --major-accent-color: #8880AB;
  --minor-accent-color: #90A7FF;
}

/*-----SIDEBAR-----*/
.sidebar {
  position: relative;
  width: 20%;
  margin: 0 12px 0 0;
}
.sidebar .sidebar-section {
  border: 1px solid var(--border-color);
  background-color: var(--section-background-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 12px 0 0 0;
}
.sidebar .sidebar-section.add-post {
  border: none;
  background-color: var(--major-accent-color);
}
.sidebar .sidebar-section.add-post .add-post-button {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  padding: 12px;
  width: 100%;
  color: var(--active-color);
}
.sidebar .sidebar-section.add-post .add-post-icon {
  display: block;
  transform: rotate(0deg);
  margin: 0 0 0 6px;
  font-size: 24px;
}
.sidebar .sidebar-section.add-post:hover {
  background-color: var(--minor-accent-color);
}
.sidebar .sidebar-section.add-post:hover .add-post-icon {
  transform: rotate(360deg);
}
.sidebar .sidebar-section .sidebar-section-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter {
  flex-direction: column;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0 0 12px 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div:last-child {
  margin: 0;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 6px 0 0;
  cursor: default;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter-label {
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 0 0;
  cursor: default;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter-label.link {
  cursor: pointer;
  color: var(--primary-text-color);
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter-label.link:hover {
  color: var(--minor-accent-color);
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item.sidebar-counter div .counter-label.link.active {
  color: var(--minor-accent-color);
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item:first-child {
  border-radius: 3px 3px 0 0;
}
.sidebar .sidebar-section .sidebar-section-item:last-child {
  border-radius: 0 0 3px 3px;
}
.sidebar .sidebar-section .sidebar-section-item:only-child {
  border-radius: 3px;
}
.sidebar .sidebar-section .sidebar-section-item.section-header {
  background-color: var(--dark-section-background-color);
  flex-direction: row;
  z-index: 0;
}
.sidebar .sidebar-section .sidebar-section-item .section-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  cursor: default;
  color: var(--primary-text-color);
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-li {
  margin-bottom: 16px;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-li:last-child {
  margin-bottom: 0;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link {
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  color: var(--primary-text-color);
  margin-bottom: 16px;
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:last-child {
  margin-bottom: 0;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:before {
  left: 0;
  width: 2px;
  margin: -3px 0 0 0;
  height: 20px;
  transition: opacity 200ms ease-in-out;
  content: '';
  background-color: var(--minor-accent-color);
  opacity: 0;
  position: absolute;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:hover {
  color: var(--minor-accent-color);
  text-decoration: none;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link:hover:before {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link.active {
  color: var(--minor-accent-color);
}
.sidebar .sidebar-section .sidebar-section-item .sidebar-link.active:before {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.sidebar .sidebar-section .sidebar-section-item .user-section {
  flex-direction: column;
  margin: auto 0 auto 12px;
}
.sidebar .user-signin-signout {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-text-color);
  text-decoration: none;
  border: none;
  background: transparent;
}
.sidebar .user-signin-signout:hover {
  color: var(--minor-accent-color);
}
@media (max-width: 991px) {
  .sidebar {
    position: relative;
    width: 100%;
    margin: 0;
  }
  .sidebar .sidebar-section .sidebar-section-item.sidebar-counter {
    flex-direction: row;
  }
  .sidebar .sidebar-section .sidebar-section-item.sidebar-counter div {
    margin: 0 12px 0 0;
  }
}

/*-----SIGN-IN-UP-----*/
.sign-in-up {
  flex-direction: row !important;
}
.sign-in-up .sign-in-up-form {
  width: 90%;
  flex-direction: column;
}
.sign-in-up .sign-in-up-form .sign-in-helper {
  margin: 12px 0 0 0;
  display: flex;
}
.sign-in-up .sign-in-up-form .sign-in-helper .forgot-password {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: var(--primary-text-color);
  text-decoration: none;
  margin: 0 0 0 auto;
}
.sign-in-up .sign-in-up-form .sign-in-helper .forgot-password:hover {
  cursor: pointer;
  color: var(--minor-accent-color);
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me {
  flex-direction: row;
  display: flex;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 5px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: var(--active-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input:checked {
  color: var(--active-color);
  border-color: var(--minor-accent-color);
  background: var(--minor-accent-color);
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input:checked::before {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me input:checked ~ label::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me label {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: var(--primary-text-color);
  text-decoration: none;
  margin: 0 0 0 12px;
}
.sign-in-up .sign-in-up-form .sign-in-helper .remember-me label:hover {
  cursor: pointer;
  color: var(--minor-accent-color);
}
.sign-in-up .sign-in-up-form .sign-in-up-form-header {
  color: var(--caption-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.sign-in-up .sign-in-up-form .sign-in-up-form-header .sign-in-up-switcher {
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: var(--primary-text-color);
  text-decoration: none;
}
.sign-in-up .sign-in-up-form .sign-in-up-form-header .sign-in-up-switcher:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--minor-accent-color);
}
.sign-in-up .oauth {
  background-color: var(--dark-section-background-color);
  border-left: 1px solid var(--border-color);
  width: 10%;
  align-items: center;
  flex-direction: column;
}
.sign-in-up .oauth .social-icon {
  line-height: 0;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 0 0 12px 0;
  display: block;
  position: relative;
  border-radius: 2px;
  background-color: var(--shadow-color);
}
.sign-in-up .oauth .social-icon.vk:hover {
  background-color: var(--social-vk);
}
.sign-in-up .oauth .social-icon.google:hover {
  background-color: var(--social-google);
}
.sign-in-up .oauth .social-icon:last-child {
  margin: 0;
}
.sign-in-up .separator {
  visibility: hidden;
  width: 0;
}
@media (max-width: 991px) {
  .sign-in-up {
    flex-direction: column !important;
  }
  .sign-in-up .sign-in-up-form {
    width: 100%;
  }
  .sign-in-up .oauth {
    background-color: var(--section-background-color);
    border: none;
    width: 100%;
    justify-content: center;
    flex-direction: row !important;
  }
  .sign-in-up .oauth .social-icon {
    margin: 0 12px 0 0;
    border-radius: 2px;
  }
  .sign-in-up .oauth .social-icon:last-child {
    margin: 0;
  }
  .sign-in-up .separator {
    visibility: visible;
    width: 100%;
    z-index: 0;
  }
}

/*-----THEME SWITCHER POPOVER-----*/
.theme-switcher {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.theme-switcher .popover-button {
  border-radius: 50% !important;
  cursor: default;
  height: 40px;
  width: 40px;
  margin-left: auto;
  font-size: 1.3rem;
  color: var(--minor-accent-color);
  background-color: var(--section-background-color);
  padding: 0;
  border: 0;
  box-shadow: 0 0 4px 0 var(--shadow-color);
  z-index: 100;
}
.theme-switcher .popover-button:hover {
  cursor: default;
}
.theme-switcher .popover-menu {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  background-color: var(--section-background-color);
  box-shadow: 0 0 4px 0 var(--shadow-color);
  margin-bottom: 16px;
  padding: 12px;
  min-width: 200px;
  z-index: 100;
}
.theme-switcher .popover-menu:after {
  content: "";
  position: absolute;
  top: 90%;
  right: 12px;
  border: 8px solid transparent;
  transition: 200ms ease-in-out;
  border-top-color: var(--section-background-color);
  border-right-color: var(--section-background-color);
  transform: rotate(135deg);
  box-shadow: 2px -2px 4px -1px var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}
.theme-switcher .popover-menu .accent-list .accent-list-item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label::before {
  content: 'done';
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 6px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 4px;
  color: transparent;
  transition: 200ms ease-in-out;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label.green::before {
  transition: 200ms ease-in-out;
  background-color: #49A669;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label.yellow::before {
  transition: 200ms ease-in-out;
  background-color: #FFB948;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label.sky::before {
  transition: 200ms ease-in-out;
  background-color: #03A6A6;
}
.theme-switcher .popover-menu .accent-list .accent-list-item + label.pastel::before {
  transition: 200ms ease-in-out;
  background-color: #8880AB;
}
.theme-switcher .popover-menu .accent-list .accent-list-item:checked + label::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 24px 0 var(--shadow-color);
  color: var(--secondary-text-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:not(:disabled):not(:checked) + label:hover::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 24px 0 var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:not(:disabled):active + label::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 24px 0 var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:focus + label::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 12px 0 var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:focus:not(:checked) + label::before {
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 12px 0 var(--shadow-color);
}
.theme-switcher .popover-menu .accent-list .accent-list-item:disabled + label::before {
  transition: 200ms ease-in-out;
  background-color: var(--disabled-text-color);
}
.theme-switcher .popover-menu .theme-switcher-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  font-weight: 600;
}
.theme-switcher .popover-menu .theme-switcher-check p {
  font-weight: bold;
  color: var(--article-text-color);
  margin: 0;
}
.theme-switcher .popover-menu .theme-switcher-check input {
  height: 0;
  width: 0;
  visibility: hidden;
}
.theme-switcher .popover-menu .theme-switcher-check input:checked + label {
  background: var(--minor-accent-color);
}
.theme-switcher .popover-menu .theme-switcher-check input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.theme-switcher .popover-menu .theme-switcher-check label {
  cursor: pointer;
  width: 36px;
  height: 18px;
  background: var(--caption-color);
  display: block;
  border-radius: 18px;
  position: relative;
}
.theme-switcher .popover-menu .theme-switcher-check label:after {
  transition: 200ms ease-in-out;
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background: var(--secondary-text-color);
  border-radius: 7px;
}
.theme-switcher .popover-menu .theme-switcher-check label:active:after {
  transition: 200ms ease-in-out;
  width: 26px;
}
.theme-switcher.hidden {
  visibility: hidden;
}
.theme-switcher.hidden .popover-button {
  color: var(--article-text-color);
  box-shadow: none;
  background-color: transparent;
  visibility: visible;
}
.theme-switcher.hidden .popover-menu {
  transform: translateY(18px);
  transform-origin: bottom;
  opacity: 0;
  visibility: hidden;
}

/*-----BLOCKQUOTE-----*/
blockquote {
  display: block;
  position: relative;
  padding: 8px;
  margin: 0;
  color: var(--article-text-color);
  background-color: var(--shadow-color);
  border-radius: 4px;
  border-left: 4px solid var(--negative-color);
}
blockquote + blockquote {
  margin-top: 12px;
}
